modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 5174
externalPort = 6800
exposeLocalhost = true

[workflows]
runButton = "Dev App"

[[workflows.workflow]]
name = "Run Application"
author = 43198077
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/server.js"

[[workflows.workflow]]
name = "servers run "
mode = "parallel"
author = 43198077

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev "

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/server.js"

[[workflows.workflow]]
name = "Start App"
author = 43198077
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/server.js"

[[workflows.workflow]]
name = "Full Application"
author = 43198077
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sleep 3 && node server/server.js"

[[workflows.workflow]]
name = "Complete App"
author = 43198077
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/server.js &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sleep 2"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Dev App"
author = 43198077
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
